[tool.poetry]
name = "anshitsu"
version = "1.1.0"
description = "A tiny digital photographic utility."
readme = "README.md"
authors = ["Iosif Takakura <iosif@huideyeren.info>"]
homepage = "https://github.com/huideyeren"
repository = "https://github.com/huideyeren/anshitsu"
documentation = "https://github.com/huideyeren/anshitsu"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.21.0"
Pillow = "^8.3.1"
colorcorrect = "^0.9.1"
fire = "^0.4.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
flake8 = "^3.9.2"
mypy = "^0.910"
black = "^21.6b0"
isort = "^5.9.2"
pyproject-flake8 = "^0.0.1-alpha.2"
pytest-randomly = "^3.8.0"
tox = "^3.23.1"
pytest-cov = "^3.0.0"

[tool.poetry.scripts]
anshitsu = "anshitsu.cli:main"

[tool.poetry-dynamic-versioning]
enable = true
style = "pep440"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88

[tool.mypy]
ignore_missing_imports=1
